%input-base {
  box-sizing: border-box;
  font-size: 1rem;
  background-color: $gray-1;
  padding: 0 0.75rem;
  border: 1px solid $gray-4;
  width: auto;
  color: $gray-7;

  &.error {
    border-color: $red;
    color: $red;
  }
}

%button-base {
  font-size: 1rem;
  padding: 0 0.75rem;
  height: 2.5rem;
  background-color: $gray-3;
  cursor: pointer;
  border: 0;
}
