$gray: #f1f1f1;
$gray-dark: #ededed;
$gray-darker: #adb5bd;
$gray-light: #fafafa;
$white: #fff;
$blue: #07f;

$button-text: #757575;
$text-color: #505050;
$icon-button-color: #909090;

$tablet-bp: 48em;
