@import '../../assets/scss/helpers/variables.scss';
@import '../../assets/scss/helpers/mixins.scss';
@import '../../assets/scss/helpers/placeholders.scss';

.add-participant {
  margin-top: 4.5rem;
  background-color: $white;
  padding: 1rem;

  &__form {
    display: flex;
    align-items: center;

    @include media-max($tablet-bp) {
      flex-flow: row wrap;
      justify-content: space-between;
    }
  }

  &__input {
    @extend %input-base;
    height: 2.5rem;
    width: 100%;

    @include media-max($tablet-bp) {
      flex: 0 1 49%;
      margin-bottom: 0.5rem;
    }

    @include media-max($mobile-bp) {
      flex: unset;
      margin-bottom: 0.5rem;
    }

    @include media-min($tablet-bp) {
      width: auto;
      margin-right: 1rem;
    }

    &--name {
      @include media-min($tablet-bp) {
        width: 20%;
      }
    }

    &--email {
      @include media-min($tablet-bp) {
        width: 28%;
      }
    }

    &--phone {
      @include media-min($tablet-bp) {
        width: 20%;
      }
    }
  }

  &__button {
    @extend %button-base;
    color: $gray-7;
    height: 2.5rem;
    width: 100%;

    @include media-max($tablet-bp) {
      flex: 0 1 49%;
      margin-bottom: 0.5rem;
    }

    @include media-max($mobile-bp) {
      flex: unset;
      margin-bottom: 0;
    }

    @include media-min($tablet-bp) {
      width: 7rem;
      margin-left: auto;
    }
  }
}
