@import '../../scss/helpers/variables.scss';

.participant-list {
  display: flex;
  flex-direction: column;
  margin-top: 0.5rem;
  width: 100%;

  &__header {
    background-color: $white;
    margin-bottom: 0.15rem;
    height: 3rem;
    width: 100%;

    &-row {
      display: grid;
      grid-template-columns: 17.5% 30.5% 22.5% auto;
      grid-gap: 2%;
      padding: 0 1.5rem;
      height: 100%;
    }
  }

  &__sort {
    &-button {
      display: flex;
      align-items: center;
      font-size: 0.875rem;
      line-height: 1rem;
      font-weight: 500;
      color: $gray-6;
      border: 0;
      background: transparent;
      height: 100%;
      padding: 0;
      width: 100%;

      &.active {
        color: $gray-7;
      }
    }

    &-icon {
      display: none !important;

      &.active {
        display: inline-block !important;
        margin-left: 0.75rem;
        font-size: 1.25rem !important;
        font-weight: normal;
      }
    }
  }
}
