@import './scss/helpers/variables.scss';

html,
body {
  margin: 0;
  padding: 0;
  background-color: $gray-2;
  font-family: Helvetica, sans-serif;

  .app {
    height: 100%;
  }

  .hidden {
    display: none;
  }

  .vishidden {
    position: absolute !important;
    left: -9999em;
    overflow: hidden;
    width: 1px;
    height: 1px;
    padding: 0;
    border: 0;
    clip: rect(1px, 1px, 1px, 1px);
  }
}
