@import './scss/helpers/variables.scss';

html,
body {
  margin: 0;
  padding: 0;
  background-color: $gray-2;
  font-family: Helvetica, sans-serif;

  .app {
    height: 100%;
  }

  .hidden {
    display: none;
  }
}
